body {
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.informacoes {
    display: none;
}

.informacoes.ativa {
    display: block;
}

.conteudo {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.informacoes h1 {

    font-size: 35px;
    color: white;
    margin-bottom: 80px;
    font-family: GOT;
    letter-spacing: 8px;
}

@font-face {
    font-family: "GOT";
    src: url(../fontes/GOT.ttf);
}

.informacoes .descricao {

    width: 49%;
    font-size: 20px;
    line-height: 40px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
}


.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao {
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: rgb(255, 255, 255);
}

.botoes-carrossel .botao.selecionado {
    background-color: #1d8346;
}

.imagem {
    width: 100vw;
    height: 100vh;
    display: none;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.7;
}

@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }

    to {
        opacity: 1;
    }
}

main:after {
    content: "";
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}